/*New Todo Page*/

.newtodo-container {
    max-width: 550px;
    max-height: 850px;
    margin: 110px auto;
    margin-bottom: 70px;
    margin-left: 50px;
    padding: 30px;
    border-radius: 5px;
    background-color: whitesmoke;
    
}

.form-text{
    font-size: 13px !important;
}

.newtodo-btn{
    width:200px;
    background-color: #5d5eff !important;
}

.errorFormField{
    color:red;
    font-size: 14px;
    padding:5px 0px;
}

.newtodo_body{
    display: flex;
}

.pencil-image{
    height: 41.3vw;
    width:100%;
    float: right;
    opacity: 0.8;
}
.newtodo_image_left{
height:50vw;
width:40%;
margin: 110px 0px 0px 150px;
}

/*New User Page*/

.newuser-image{
    display: block;
    margin:100px 0px 100px 80px;
    width: 120%;
    height: 48vw;
    opacity: 0.8;
}

.newuser-container {
    max-width: 500px;
    max-height: 850px;
    margin: 80px auto;
    margin-bottom: 70px;
    padding: 30px;
    border-radius: 5px;
    background-color: #F0F0F0;
}

.form-text{
    font-size: 13px !important;
}

.newuser-btn{
    width:200px;
    background-color: #5d5eff !important;
}

.errorFormField{
    color:red;
    font-size: 14px;
    padding:5px 0px;
}

.help-text{
    text-align: justify;
    padding-left: 15px;
}

.bi-eye-fill{
    margin-left: -45px;
    margin-top: -30px;
    position: relative;
    z-index: 2;
    padding-right: 15px;
    float: right;
    cursor: pointer;
}


/*User Todo Page*/
.todosArea{
    font-family:Calibri, 'Trebuchet MS', sans-serif;
}

.todo-container{
    margin:90px 5px 50px 35px;
}

.todo-category-color-dot{
    height: 14px;
    width: 14px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

.todo-category-header{
    height: 45px;
}

.todo-category-title{
    font-size: 16px;
    font-weight: 600 !important;
}

.todo-details{
    color: black;
}

.todo-card-container{
    padding: 0px 20px 0px 50px;
}

.todo-card{
    width:20vw;
    border-width: 0px !important;
}

.todo-status{
    float: right;
}

.todo-desc{
    font-size: 17x;
    padding-left: 0px;
}

.todo-body{
    font-size:13px;
}

.todo-icons{
    float:right;
}

.todo_select{
    font-weight: 550 !important;
}

.strike{
    text-decoration: line-through;
}

.bi-star, .bi-pencil-square, .bi-trash,.bi-check-circle{
    padding-left: 10px;
    font-size: 1.2rem;
    color: black;
    cursor: pointer;
}

.bi-check-circle-fill{
    padding-left: 10px;
    font-size: 1.2rem;
    color: green;
    cursor: pointer;
}

.bi-check-circle:hover, .bi-check-circle-fill:hover{
    opacity: 0.8;
    font-size: 1.1rem;
}

.completebtn{
    float: right;
    font-size: 15px !important;
    padding: 0;
}

#addTodosBtn{
    width:80%;
    float: right;
    background-color: gainsboro;
}

.bi-plus-square-fill{
    float: left;
}

/*Todo aside styles*/

.todo-aside-container{
    margin-top: 90px;
    padding: 0px 40px;
}

.todo-aside-title-info{
    padding: 10px 15px;
}

.todo-aside-title-info{
    font-size: 17px;
    font-weight: 600 !important;
}

.todo-aside-list{
    padding: 10px 45px;
    list-style-type: none;
}

.todo-aside-sublist{
    padding: 5px 0px;
}

.todo-aside-list-title{
    font-size: 17px;
    font-weight: 600 !important;
    padding: 10px 15px 10px 45px;
}

.todo_countBadge{
    float: right;
}

#completedIcon{
    padding: 5px 0px;
    font-size: 1rem;
    color: black;
    cursor: pointer;
}

.todo-notodos-image{
    height:35vw;
    width: 90%;
    opacity: 0.3;
}

@media (max-width: 768px) {
    
    .container{
       margin: 0;
       float: none;
    }

    #addTodosBtn{
        width:100%;
    }
}

@media (max-width: 992px) {
    .todoAside, .newuser-image{
        display: none;
    }
    .container{
        margin: 0;
        float: none;
     }
 
     #addTodosBtn{
         width:100%;
     }
}

@media (max-width: 1200px) {
    .todo-aside-list-title, .todo-aside-title-info{
        font-size: 15px;   
    }
    .newuser-image{
        display: none;
    }
}

/* Index page*/
.navbar{
    /* background-color: navy; */ 
    height: 55px;
    background-color: #5d5eff;
}

.navbar-brand img{
    width:140px;
    height:30px;
    margin-left: 30px;
}

.header-nav a{
    font-size:21px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:white;
    background-color: #5d5eff;
}

.bi-person-circle, .bi-house-door-fill{
    color: white;
    font-size: 1.4rem;
}

.todo-header-dropdown{
    padding: 0 !important;
}

.todo-header-dropdown-list{
    background-color: #5d5eff !important;
}

.todo-header-dropdown-list:hover{
    opacity: 0.9 !important;
    background-color: #5d5eff !important;
    color: white !important;
    font-size: 22px;
}

.home-body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.home_banner{
    height: 520px;
    width:100%;
    background-color: #FFFE5D;
}

.home-image{
    height: 35vw;
    width: 100%;
    background-color: #e0dffd;
}

.home-features-title{
    padding: 10px 10px 10px 40px;
    font-size: 23px;
    background-color: aliceblue;
}

.home_blockquote{
    padding: 100px 20px 20px 20px;
    font-size: 40px;
    text-align: center;
    /*
    background-color: #FFFE5D;
    background-image: url('../images/test3.webp');
    opacity:0.3;
    background-image: url('../images/test2.jpeg');
    background-repeat: no-repeat;
    background-image: url('../images/todo-3.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    */
}


.home_blockquote_text{
    font-family:"Lugrasimo";
}

.lugrasimo-regular {
    font-family: "Lugrasimo", cursive;
    font-weight: 400;
    font-style: normal;
}

.home-card-img-top{
    width: 100%;
    height: 25vw;
    object-fit: cover;
}

.home-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5d5eff !important;
    color: white !important;
    font-size: 18px !important;
}
